.top {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.heading {
  text-align: center;
  margin-block-start: 3.2rem;
}
.achievements {
  display: flex;
  flex-direction: column;
}

.statistics {
  display: flex;
  flex-direction: row;
  height: 24rem;
  margin-block: 6rem;
}
.statsbox:hover {
  background-color: white;
  color: #977bcb;
  border: 1px #977bcb solid;
  box-shadow: 2px 3px 21px -3px rgba(0,0,0,0.9);
  /* transition: white 4000ms linear; */
  
}

.statsbox {
  color: white;
  width: 33%;
  margin-inline: 2rem;
  margin-block: 2rem;
  padding-block-end: 1.5rem;
  background-color:#977bcb;
  /* height: 17rem */
}

.innerstatistics {
  display: flex;
  flex-direction: column;
}

.number {
  height: 11rem;
  text-align: center;
  top: 2rem;
  vertical-align: middle;
  line-height: 12rem;
  font-size: 80px;
  font-weight: bolder;
}



.numberInfo {
  padding: 1.2rem;
  text-align: center;
}

.detailAchvmnt {
  padding-inline: 5rem;
  padding-block: 2rem;
  height: 58rem;
}
.achvmntImg:hover {
  box-shadow: 8px 7px 44px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 8px 7px 44px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 7px 44px -9px rgba(0, 0, 0, 0.75);
}

.achvmntHead {
  padding: 0.5rem;

  text-align: center;
}
.achvmntImg {
  display: flex;
  flex-direction: row;
  height: 70%;
}
.achvmtbrief {
  padding: 0.5rem;
}






